<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observatório Sobrenatural da UEM</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% block head_scripts %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{{ url_for('index') }}">Observatório Sobrenatural da UEM</a></h1>
            <p class="slogan">O mapa do inexplicável na UEM.</p>
        </div>
    </header>
    
    <main class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <div class="container">
            <p>&copy; 2025 - Um projeto para mapear o oculto.</p>
        </div>
    </footer>
</body>
</html>